<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="RodCarvalho.PokedexTracker"
    Publisher="CN=RodCarvalho-Pokedex-SelfSigned"
    Version="1.0.2.0" />

  <mp:PhoneIdentity PhoneProductId="7e5c2f3a-9d4b-4a6e-8c1d-2b7f5a9e6d02" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>Pokedex Tracker</DisplayName>
    <PublisherDisplayName>Rod Carvalho</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <!--
      MinVersion/MaxVersionTested aqui sao placeholders: o MSBuild reescreve
      esses dois valores automaticamente a partir de TargetPlatformMinVersion
      e TargetPlatformVersion do .csproj no momento do build.
    -->
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.14393.0" MaxVersionTested="10.0.17763.0" />
  </Dependencies>

  <Resources>
    <Resource Language="pt-BR" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PokedexUWP.App">
      <uap:VisualElements
        DisplayName="Pokedex Tracker"
        Description="Rastreador de colecao Pokemon - GO, Brilliant Diamond, HOME, Legends Arceus e Legends Z-A."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="transparent" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
